body {
    width: 100%;
}

.all {
    padding-left: 10%;
    width: inherit;
    height: inherit;
    
    background-image: '../resources/login_back_2.jpg';
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#dashboard-content {
    background-color: #f5f7fb;
    height: inherit;
}

.navbar {
    flex-basis: 10%;
    padding: 0.5rem 1rem;
}

.dashboard {
    padding: 30px 0px 0px 10px;
    height: 75%;
    flex-basis: 90%;
    width: inherit;
}

.titlebar {
    background: #000000;
    background: -moz-linear-gradient(right, #000000 0%, #03506F 50%, #F5F7FB 100%);
    background: -webkit-linear-gradient(right, #000000 0%, #03506F 50%, #F5F7FB 100%);
    background: linear-gradient(to left, #000000 0%, #03506F 50%, #F5F7FB 100%);

    display: flex;
    flex-direction: row;
    align-items: baseline;

    width: inherit;
    padding: 1rem 1rem;
}

.titlebar .title {
    color: white;
    display: flex;
} 

.titlebar .title h1 {
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 12px 0 0 0;
    font-size: 18px;
    font-weight: 800;
    text-indent: 6px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #abb5b9;
    color: #5c5c63
}

.title img {
    float:left;
    margin-right:10px;
    position: relative;
    top:2px;
}

#divHint {
    display: none;
}

